# Data Viz

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("../../data/RFMiD/labels/Train.csv")
df.head()

,ID,Disease_Risk,DR,ARMD,MH,DN,MYA,BRVO,TSLN,ERM,...,CME,PTCR,CF,VH,MCA,VS,BRAO,PLQ,HPED,CL
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
pd.DataFrame(df[df['Disease_Risk'] == 1].drop(columns=['ID','Disease_Risk']).sum().sort_values(ascending=False))

        0
DR    376
MH    317
ODC   282
TSLN  186
DN    138
MYA   101
ARMD  100
BRVO   73
ODP    65
ODE    58
LS     47
RS     43
CSR    37
CRS    32
CRVO   28
RPEC   22
AION   17
AH     16
MS     15
EDN    15
RT     14
ERM    14
MHL    11
PT     11
TV      6
RP      6
ST      5
PTCR    5
CME     4
CWS     3
MNF     3
TD      3
CF      3
PRH     2
CRAO    2
BRAO    2
VS      1
HPED    1
PLQ     1
CL      1
MCA     1
VH      1
CB      1
HR      0
ODPM    0